- @restaurants.each do |restaurant|
  .rst-info
    %h3.rst-info__name.index-page
      = restaurant.name  
    .content
      .content-l
        %figure
          = image_tag restaurant.image, class: "content__image", alt: "レストランの写真"     
      .content__right
        %ul.budget
          %li.icon-day
            = restaurant.budget_d_i18n
          %li.icon-night
            = restaurant.budget_n_i18n
        %h4.content__header
          = restaurant.header
        .content__detail
          %p= restaurant.description
    .rst-info__bottom
      %button= link_to "このレストランの情報を編集する", edit_admin_restaurant_path(restaurant.id)
